<div class="container cntnr-main">
  <div class="row">
    <div class="col-sm-6">
      <div class="btn btn-danger button-text">
        <%= link_to 'Report a bug!', '/bugs/new' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="btn btn-primary button-text">
        <%= link_to 'Show all bugs', '/bugs' %>
      </div>
    </div>
  </div>
</div>
